openapi: 3.0.0
info:
  title: Koust Public API
  version: '1.0'
  description: |-
    Use Koust API to create a custom integration with your system.

    To use Koust API, you'll need to:

      - Use the access token ([see details](https://koust.stoplight.io/docs/koust-api-documentation/reference/Authentication.v1.yaml))

    If you have questions, we're available at [contact@koust.fr](mailto:contact@koust.fr) to help.
servers:
  - url: 'https://api.koustapp.com/apex/rest/public_api'
paths:
  /ingredients:
    parameters: []
    get:
      summary: /ingredients
      operationId: get-ingredients
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  content:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - name
                        - unit
                        - price
                        - default_edc_delay
                        - is_food
                        - auto_order
                        - inventory_counting
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        unit:
                          type: string
                          minLength: 1
                        price:
                          type: string
                          minLength: 1
                        default_edc_delay:
                          type: number
                        is_food:
                          type: boolean
                        category:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - name
                        stock:
                          type: object
                          properties:
                            current:
                              type: number
                            minimum:
                              type: number
                          required:
                            - current
                            - minimum
                        suppliers:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - name
                              - price
                              - reference
                              - barcode
                              - retained
                              - delivery_min_date
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                                minLength: 1
                              price:
                                type: number
                              reference:
                                type: string
                                minLength: 1
                              allergens:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  required:
                                    - id
                                    - name
                                  properties:
                                    id:
                                      type: string
                                      minLength: 1
                                    name:
                                      type: string
                                      minLength: 1
                              barcode:
                                type: string
                                minLength: 1
                              retained:
                                type: boolean
                              conditioning:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    minLength: 1
                                required:
                                  - text
                              delivery_min_date:
                                type: string
                                minLength: 1
                        auto_order:
                          type: boolean
                        inventory_counting:
                          type: number
                        storage_areas:
                          type: array
                          items:
                            required: []
                            properties: {}
                  page:
                    type: number
                  elements:
                    type: number
                required:
                  - content
                  - page
                  - elements
                x-examples:
                  example-1:
                    content:
                      - id: 236775
                        name: Beurre
                        unit: Kg
                        price: '5'
                        default_edc_delay: 3
                        is_food: true
                        category:
                          id: 120252
                          name: Divers
                        stock:
                          current: -85.80246333333334
                          minimum: 0
                        suppliers:
                          - id: 363
                            name: S METRO
                            price: 2.5
                            quantity_unit: 0.5
                            allergens:
                              - id: L
                                name: Lait
                            retained: true
                            conditioning:
                              text: Carton de
                              value: 12
                            delivery_min_date: '2022-04-11'
                          - id: 2680
                            name: ' Reseau KRILL'
                            price: 5.56
                            reference: 094062 (SAXO)
                            allergens:
                              - id: L
                                name: Lait
                            barcode: '3057640117008'
                            retained: true
                            conditioning:
                              text: Carton de
                            delivery_min_date: '2022-04-09'
                          - id: 167560
                            name: ' Mon Crémier'
                            retained: true
                            delivery_min_date: '2022-04-08'
                        auto_order: true
                        inventory_counting: 0.5
                        storage_areas: []
                    page: 0
                    elements: 1
      description: Use this endpoint to retrieve the list of ingredients
      parameters:
        - $ref: ./KoustPOS.v1.yaml#/components/parameters/Authorization
        - schema:
            type: number
          in: query
          name: pageNumber
          description: The page number (starting at 0)
          required: true
        - schema:
            type: number
          in: query
          name: numberOfRows
          description: The number of rows to return
          required: true
        - schema:
            type: string
          in: query
          name: search
          description: Ingredient name searched
components:
  schemas: {}
