openapi: 3.0.0
info:
  title: Koust Public API v1
  version: '1.0'
  contact:
    name: Koust Support
    url: 'https://koust.net/contact/'
    email: contact@koust.fr
  termsOfService: 'https://koust.net/conditions-generales-de-vente/'
  description: |-
    Use Koust API to create a custom integration with your system.

    To use Koust API, you'll need to:

    - Use the access token ([see details](https://koust.stoplight.io/docs/koust-api-documentation/reference/Authentication.v1.yaml))

    If you have questions, we're available at [contact@koust.fr](mailto:contact@koust.fr) to help.
servers:
  - url: 'https://api.koustapp.com/apex/rest/public_api'
paths:
  /bills:
    parameters: []
    post:
      summary: ''
      operationId: post-bills
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success_Bills_Model'
              examples:
                Success:
                  value:
                    status: success
                    message: 'Demande d''extraction prise en compte, vos données vont être envoyées à l''url mentionnée.'
                    content:
                      bills_returned: '2'
                      establishment_name: Restau du coin
        '400':
          description: An error occured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Bills_Model'
              examples:
                Error url:
                  value:
                    status: Failed
                    message: Un url de retour doit être mentionnée.
                Error date null:
                  value:
                    status: Failed
                    message: La date de début doit être mentionnée.
                Error format date:
                  value:
                    status: Failed
                    message: La date de fin ne respecte pas le bon format.
                Error start date is more recent:
                  value:
                    status: Failed
                    message: La date de fin doit être supérieur à la date de fin.
                Error content:
                  value:
                    status: Failed
                    message: Veuillez vérifier le contenu de votre requête.
        '401':
          description: Cannot authenticate user
      description: |
        **Webhook who sends your bills for the chosen dates at the requested url**
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: Resource MIME
        - schema:
            type: string
          in: header
          name: Authorization
          description: Authorization Header
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bills-Model'
            examples:
              Example:
                value:
                  url_callback: 'https://eoexg7ophwqyq3.m.pipedream.net'
                  date_interval:
                    start_from: '2022-01-01'
                    end_at: '2022-01-30'
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
components:
  schemas:
    Order-Model:
      description: A configuration for an order
      type: object
      title: Order
      properties:
        id_cash_register:
          type: number
        order_id:
          type: string
          minLength: 1
        order_date:
          type: string
          minLength: 1
        tickets:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              ticket_id:
                type: string
                minLength: 1
              consumption_mode:
                type: number
              dishes:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    dish_id:
                      type: string
                      minLength: 1
                    dish_name:
                      type: string
                      minLength: 1
                    dish_price_excl_tax:
                      type: number
                    dish_origin_price_excl_tax:
                      type: number
                    dish_vat:
                      type: number
                    dish_canceled_reason:
                      type: number
                    dish_quantity:
                      type: number
                    dish_options:
                      type: array
                      items:
                        type: object
                        properties:
                          option_id:
                            type: string
                          option_name:
                            type: string
                          option_quantity:
                            type: number
                          option_price_excl_tax:
                            type: number
                        required:
                          - option_id
                          - option_name
                          - option_quantity
                          - option_price_excl_tax
                  required:
                    - dish_id
                    - dish_name
                    - dish_price_excl_tax
                    - dish_quantity
              global_discounts:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    discount_name:
                      type: string
                      minLength: 1
                    discount_amount:
                      type: number
                  required:
                    - discount_amount
              global_charges:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    charge_name:
                      type: string
                      minLength: 1
                    charge_amount:
                      type: number
                  required:
                    - charge_amount
            required:
              - ticket_id
      required:
        - id_cash_register
        - order_id
        - order_date
        - tickets
    Error-Model:
      title: Error-Model
      type: object
      properties:
        message:
          type: string
      description: The error object you'll receive when something went wrong.
    Cash-Register-Model:
      title: Cash-Register-Model
      type: object
      properties:
        id:
          type: number
        name:
          type: string
      description: The error object you'll receive when something went wrong.
    Bills-Model:
      title: Bills-Model
      type: object
      properties:
        url_callback:
          type: string
        date_interval:
          type: object
          properties:
            start_from:
              type: string
            end_at:
              type: string
    Error_Bills_Model:
      title: Error_Bills_Model
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    Success_Bills_Model:
      title: Success_Bills_Model
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        content:
          type: object
          properties:
            bills_returned:
              type: string
            establishment_name:
              type: string
  parameters:
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
      description: Resource MIME
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        default: ' Bearer YOUR_ACCESS_TOKEN'
      description: Authorization Header
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.koustapp.com/apex/rest/public_authentication/get_access_token'
          scopes: {}
          refreshUrl: 'https://auth.koustapp.com/apex/rest/public_authentication/refresh_token'
