openapi: 3.0.0
info:
  title: Public API
  version: '1.0'
  description: |-
    Use Koust API to create a custom integration with your system.

    To use Koust API, you'll need to:

      - Use the access token ([see details](https://koust.stoplight.io/docs/koust-api-documentation/reference/Authentication.v1.yaml))

    If you have questions, we're available at [contact@koust.fr](mailto:contact@koust.fr) to help.
servers:
  - url: 'https://api.koustapp.com/apex/rest/public_api'
paths:
  /ingredients:
    parameters: []
    get:
      summary: List ingredients
      operationId: get-ingredients
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  content:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - name
                        - unit
                        - price
                        - default_edc_delay
                        - is_food
                        - auto_order
                        - inventory_counting
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        unit:
                          type: string
                          minLength: 1
                        price:
                          type: string
                          minLength: 1
                        default_edc_delay:
                          type: number
                        is_food:
                          type: boolean
                        category:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - name
                        stock:
                          type: object
                          properties:
                            current:
                              type: number
                            minimum:
                              type: number
                          required:
                            - current
                            - minimum
                        suppliers:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - name
                              - price
                              - reference
                              - barcode
                              - retained
                              - delivery_min_date
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                                minLength: 1
                              price:
                                type: number
                              reference:
                                type: string
                                minLength: 1
                              allergens:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  required:
                                    - id
                                    - name
                                  properties:
                                    id:
                                      type: string
                                      minLength: 1
                                    name:
                                      type: string
                                      minLength: 1
                              barcode:
                                type: string
                                minLength: 1
                              retained:
                                type: boolean
                              conditioning:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    minLength: 1
                                required:
                                  - text
                              delivery_min_date:
                                type: string
                                minLength: 1
                        auto_order:
                          type: boolean
                        inventory_counting:
                          type: number
                        storage_areas:
                          type: array
                          items:
                            required: []
                            properties: {}
                  page:
                    type: number
                  elements:
                    type: number
                required:
                  - content
                  - page
                  - elements
                x-examples:
                  example-1:
                    content:
                      - id: 236775
                        name: Beurre
                        unit: Kg
                        price: '5'
                        default_edc_delay: 3
                        is_food: true
                        category:
                          id: 120252
                          name: Divers
                        stock:
                          current: -85.80246333333334
                          minimum: 0
                        suppliers:
                          - id: 363
                            name: S METRO
                            price: 2.5
                            quantity_unit: 0.5
                            allergens:
                              - id: L
                                name: Lait
                            retained: true
                            conditioning:
                              text: Carton de
                              value: 12
                            delivery_min_date: '2022-04-11'
                          - id: 2680
                            name: ' Reseau KRILL'
                            price: 5.56
                            reference: 094062 (SAXO)
                            allergens:
                              - id: L
                                name: Lait
                            barcode: '3057640117008'
                            retained: true
                            conditioning:
                              text: Carton de
                            delivery_min_date: '2022-04-09'
                          - id: 167560
                            name: ' Mon Crémier'
                            retained: true
                            delivery_min_date: '2022-04-08'
                        auto_order: true
                        inventory_counting: 0.5
                        storage_areas: []
                    page: 0
                    elements: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
                x-examples:
                  example-1:
                    status: failure
                    message: Veuillez saisir un nombre de lignes (pagination).
              examples:
                Missing pageNumber parameter:
                  value:
                    status: failure
                    message: Veuillez saisir un numéro de page (pagination).
                Missing numberOfRows parameter:
                  value:
                    status: failure
                    message: Veuillez saisir un nombre de lignes (pagination).
        '401':
          description: Unauthorized
        '555':
          description: 'Error, please, contact us.'
      description: Use this endpoint to retrieve the list of ingredients
      parameters:
        - $ref: ./KoustPOS.v1.yaml#/components/parameters/Authorization
        - schema:
            type: number
          in: query
          name: pageNumber
          description: The page number (starting at 0)
          required: true
        - schema:
            type: number
          in: query
          name: numberOfRows
          description: The number of rows to return
          required: true
        - schema:
            type: string
          in: query
          name: search
          description: Ingredient name searched
  /recipes:
    get:
      summary: List recipes
      tags: []
      responses: {}
      operationId: get-recipes
  /bills:
    post:
      summary: /bills
      operationId: post-bills
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success_Bills_Model'
              examples:
                Success:
                  value:
                    status: success
                    message: 'Demande d''extraction prise en compte, vos données vont être envoyées à l''url mentionnée.'
                    content:
                      bills_returned: '2'
                      establishment_name: Restau du coin
        '400':
          description: An error occured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Bills_Model'
              examples:
                Error url:
                  value:
                    status: Failed
                    message: Un url de retour doit être mentionnée.
                Error date null:
                  value:
                    status: Failed
                    message: La date de début doit être mentionnée.
                Error format date:
                  value:
                    status: Failed
                    message: La date de fin ne respecte pas le bon format.
                Error start date is more recent:
                  value:
                    status: Failed
                    message: La date de fin doit être supérieur à la date de fin.
                Error content:
                  value:
                    status: Failed
                    message: Veuillez vérifier le contenu de votre requête.
        '401':
          description: Cannot authenticate user
      description: |-
        **Webhook who sends your bills for the chosen dates at the requested url**
        * The Webhook returns the body containing the bills in json format to the URL you requested. You will find the Webhook answer model at the following link : 
          [Weebhook-Model](KoustPublic.v1.yaml/components/schemas/Webhook_Model)
      parameters:
        - $ref: ./Authentication.v1.yaml#/components/parameters/Content-Type
        - $ref: '#/components/parameters/Authorization'
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bills-Model'
            examples:
              Example:
                value:
                  url_callback: string
                  date_interval:
                    start_from: YYYY-MM-DD
                    end_at: YYYY-MM-DD
        description: ''
    get:
      summary: List bills
      operationId: get-bills
      responses:
        '200':
          description: OK
components:
  schemas:
    Bills-Model:
      title: Bills-Model
      type: object
      properties:
        url_callback:
          type: string
        date_interval:
          type: object
          required:
            - start_from
            - end_at
          properties:
            start_from:
              type: string
            end_at:
              type: string
      required:
        - url_callback
    Error_Bills_Model:
      title: Error_Bills_Model
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    Success_Bills_Model:
      title: Success_Bills_Model
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        content:
          type: object
          properties:
            bills_returned:
              type: string
            establishment_name:
              type: string
    Webhook_Model:
      title: Webhook_Model
      type: array
      items:
        type: object
        properties:
          invoice:
            type: string
          invoice_supplier:
            type: object
            properties:
              supplier_id:
                type: string
              supplier_name:
                type: string
          invoice_date:
            type: string
          delivery_date:
            type: string
          deadline_date:
            type: string
          invoice_total:
            type: string
          invoice_items:
            type: array
            items:
              type: object
              properties:
                ingredient_id:
                  type: string
                ingredient_name:
                  type: string
                ingredient_unit:
                  type: string
                ingredient_quantity:
                  type: string
                ingredient_price:
                  type: string
                ingredient_contenance:
                  type: string
                ingredient_contenance_supplier:
                  type: string
                ingredient_conditioning_value:
                  type: string
                ingredient_supplier_retained:
                  type: string
  parameters:
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
      description: Resource MIME
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        default: ' Bearer YOUR_ACCESS_TOKEN'
      description: Authorization Header
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.koustapp.com/apex/rest/public_authentication/get_access_token'
          scopes: {}
          refreshUrl: 'https://auth.koustapp.com/apex/rest/public_authentication/refresh_token'
