openapi: 3.0.0
info:
  title: Koust POS v1
  version: '1.0'
  contact:
    name: Koust Support
    url: 'https://koust.net/contact/'
    email: contact@koust.fr
  termsOfService: 'https://koust.net/conditions-generales-de-vente/'
  description: |-
    Use Koust API to create a custom integration with your POS.

    To use Koust API, you'll need to:

    - Use the access token ([see details](https://koust.stoplight.io/docs/koust-api-documentation/reference/Authentication.v1.yaml))

    If you have questions, we're available at [contact@koust.fr](mailto:contact@koust.fr) to help.
servers:
  - url: 'https://api.koustapp.com/apex/rest/public_api'
paths:
  /pos/catalog:
    parameters: []
    post:
      summary: Create catalog
      operationId: post-pos-catalog
      responses:
        '200':
          description: OK
      tags:
        - Catalogs
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      description: Use this endpoint to push your orders on Koust.
    put:
      summary: Update Catalog
      operationId: put-pos-catalog
      responses:
        '200':
          description: OK
      tags:
        - Catalogs
      parameters:
        - $ref: '#/components/parameters/Content-Type'
  '/pos/order/{order_id}':
    parameters:
      - schema:
          type: string
        name: order_id
        in: path
        description: The order_id you used when creating the order
        required: true
    post:
      summary: Create Order
      operationId: post-pos-order
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-Model'
        '401':
          description: Cannot authenticate user
      tags:
        - Orders
      parameters:
        - $ref: ./Authentication.v1.yaml#/components/parameters/Content-Type
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order-Model'
            examples:
              Order Scope:
                value:
                  id_cash_register: '0'
                  order_id: 72321axcF261
                  order_date: '2021-01-18'
                  tickets:
                    - ticket_id: '2517'
                      consumption_mode: '2'
                      dishes:
                        - dish_id: '1839'
                          dish_name: Burger Veggie
                          dish_price_excl_tax: 10.81
                          dish_origin_price_excl_tax: 10.81
                          product_vat: 0.1
                          dish_canceled_reason: '200'
                          dish_quantity: 1
                          dish_options:
                            - option_id: '183209'
                              option_name: Moutarde
                              option_quantity: 1
                              option_price_exl_tax: 0
                    - ticket_id: '2517'
                      consumption_mode: 2
                      dishes:
                        - dish_id: '1581'
                          dish_name: Pizza 31cm
                          dish_price_excl_tax: 11.72
                          dish_origin_price_excl_tax: 11.72
                          product_vat: 0.1
                          dish_canceled_reason: '200'
                          dish_quantity: 1
                      global_discounts:
                        - discount_name: 20%OFF
                          discount_amount: 2
                      global_charges:
                        - charge_name: Delivery fee
                          charge_amount: 1.99
      description: |-
        **Create an Order linked to your account.**


        <!--
        type: tab
        title: Comsumption mode
        -->

        **Consumption mode** codes are :

        - **1** -> Delivery
        - **2** -> Take Away
        - **3** -> Eat in

        <!--
        type: tab
        title: Canceled reasons
        -->

        **Cancel reasons** codes are :

        - **0** -> Offered
        - **1** -> Loosed
        - **2** -> Employee

        <!-- type: tab-end -->
      security:
        - oauth2: []
    delete:
      summary: Cancel Order
      operationId: delete-pos-order
      tags:
        - Orders
      description: Delete an order
      responses:
        '204':
          description: Successfully deleted
        '400':
          description: An error has occured
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    Order-Model:
      description: A configuration for an order
      type: object
      title: Order
      properties:
        id_cash_register:
          type: number
        order_id:
          type: string
          minLength: 1
        order_date:
          type: string
          minLength: 1
        tickets:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              ticket_id:
                type: string
                minLength: 1
              consumption_mode:
                type: number
              dishes:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    dish_id:
                      type: string
                      minLength: 1
                    dish_name:
                      type: string
                      minLength: 1
                    dish_price_excl_tax:
                      type: number
                    dish_origin_price_excl_tax:
                      type: number
                    dish_vat:
                      type: number
                    dish_canceled_reason:
                      type: number
                    dish_quantity:
                      type: number
                  required:
                    - dish_id
                    - dish_name
                    - dish_price_excl_tax
                    - dish_quantity
              global_discounts:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    discount_name:
                      type: string
                      minLength: 1
                    discount_amount:
                      type: number
                  required:
                    - discount_amount
              global_charges:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    charge_name:
                      type: string
                      minLength: 1
                    charge_amount:
                      type: number
                  required:
                    - charge_amount
            required:
              - ticket_id
      required:
        - id_cash_register
        - order_id
        - order_date
        - tickets
  parameters:
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
      description: Resource MIME
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        default: ' Bearer YOUR_ACCESS_TOKEN'
      description: Authorization Header
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://api.koustapp.com/apex/rest/public_authentication/get_access_token'
          scopes: {}
          refreshUrl: 'https://api.koustapp.com/apex/rest/public_authentication/refresh_token'
tags:
  - name: Orders
  - name: Catalogs
